[submodule "07-Asynchronous-JavaScript-Ajax-&-Fetch-API/easyHTTP-using-callbacks"]
	path = 07-Asynchronous-JavaScript-Ajax-&-Fetch-API/easyHTTP-using-callbacks
	url = https://github.com/Kinjalrk2k/easyHTTP
	branch = callbacks
[submodule "07-Asynchronous-JavaScript-Ajax-&-Fetch-API/easyHTTP-using-promises"]
	path = 07-Asynchronous-JavaScript-Ajax-&-Fetch-API/easyHTTP-using-promises
	url = https://github.com/Kinjalrk2k/easyHTTP
	branch = promises
[submodule "07-Asynchronous-JavaScript-Ajax-&-Fetch-API/easyHTTP-using-async-await"]
	path = 07-Asynchronous-JavaScript-Ajax-&-Fetch-API/easyHTTP-using-async-await
	url = https://github.com/Kinjalrk2k/easyHTTP
	branch = async-await
[submodule "08-API-Projects/GitHub-Finder"]
	path = 08-API-Projects/GitHub-Finder
	url = https://github.com/Kinjalrk2k/GitHub-Finder
